body{
	background-image: url(../logo_gcm.svg);
	background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
div.loginbereich{
	background-color: white;
	width: 30%;
	min-width: 200px;
	border: 1px solid black;
    border-radius: 5px;
    text-align: center;
	 /*height: 150px;*/
}
h1.topname {
	font-size: 60px;
    border-bottom: 5px solid black;
    width: 200;
}


div.loginbereich input{
    margin-top: 2px;
    margin-bottom: 2px;
}

div.loginbereich p{
    margin: 0px;
    margin-top: 8px;
}

p.info {
	color: red;
}


